.orig
.log
.idea
.gradle
.project
.classpath
.DS_Store
*.iml
*.ipr
*.iws
*.class
*.out
.classpath
.project

lombok.config

local*.properties
*local.properties
proxy.txt

dist

*\nbproject
*\.springBeans
*\build
*\log\*.log
*\log\*.log.*
*.log
*.log.*
.\out\*
.\classes\*

*/nbproject
*/.springBeans
*/.gradle
*/build



*/log/*.log
*/log/*.log.*
./out/*
mailing.log
*.bin

*:bin
*:.springBeans
*:.gradle
*:build
*:log:*.log
*:log:*.log.*
out:*

*/.settings
*\.settings
.vagrant
./target/

node_modules
stats.json
.git
fs/9r
baikal-service/frontend/typings
baikal-service/frontend/src/**/*.sass.d.ts
baikal-service/frontend/src/**/*.scss.d.ts
baikal-service/frontend/src/**/*.css.d.ts
baikal-service/frontend/.test/**
baikal-frontend/frontend/coverage
baikal-frontend/frontend/src/proto
baikal-frontend/frontend-old/coverage
baikal-frontend/frontend-old/src/proto
.awcache
.coverage

./patches
./out/.
*/out/production/*

*/out/*
.env
